* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: heading_font;
    src: url('./fonts//Libre_Baskerville//LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: paragraph_font;
    src: url('./fonts//Goudy_Bookletter_1911//GoudyBookletter1911-Regular.ttf');
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}



body {
    overflow-x: hidden;
}

:root {
    --main-color: #6f42c1;
    --paragrapth-clr: rgb(49, 49, 49);
    --heading-clr: rgb(27, 27, 27);
    --white-clr: #fff;
    --section-bg-clr: #e1f1f4;
    --green-clr: #26cf99;
    --heading-font: heading_font;
    --parag-font: paragraph_font;
    --slide-clr: #b6aacc;
    --humberger-bg-color: var(--section-bg-clr);
}

.dark_mode {
    --main-color: #6f42c1;
    --paragrapth-clr: rgb(255, 255, 255);
    --heading-clr: #9b76df;
    --white-clr: #fff;
    --section-bg-clr: #222631;
    ;
    --green-clr: #26cf99;
    --heading-font: heading_font;
    --parag-font: paragraph_font;
    /* --slide-clr: #9b76df; */
    --body-clr: #091217;
    background-color: var(--body-clr);
    --humberger-bg-color: var(--section-bg-clr);

    /* background-color: #171a21;  */
    /* background-color: #091217;  */
}



/* reusable code */
a {
    text-decoration: none;
    font-family: var(--heading-font);
}


li {
    list-style: none;
}

h1 {
    font-family: var(--heading-font);
    color: var(--main-color);
}

p {
    font-family: var(--parag-font);
    font-size: 1.5rem;
}



/* navbar section */






.navbar_list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar_link a {
    font-size: 1.4rem;
    color: var(--paragrapth-clr);
    font-weight: 600;
    letter-spacing: 1px;
    padding: .3rem 1rem;
    position: relative;
}

.navbar_link a:hover {
    background-color: var(--main-color);
    color: var(--white-clr);
    transition: all .4s;

}

.navbar_link a::before {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: .5rem;
    right: .5rem;
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    transition: all .4s;
    opacity: 0;
}

.navbar_link a::after {
    content: '';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    bottom: .5rem;
    left: .5rem;
    border-bottom: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
    transition: all .4s;
    opacity: 0;

}

.navbar_link a:hover:before {
    top: -.6rem;
    right: -.6rem;
    opacity: 1;
}

.navbar_link a:hover::after {
    bottom: -.6rem;
    left: -.6rem;
    opacity: 1;

}

.header figure {
    display: none;
}

.header {
    position: fixed;
    background-color: var(--section-bg-clr);
    z-index: 3000000;
}

.humberger {
    background-color: #e1f1f4;
}

.hero_row {
    margin-top: 9rem;
}

.header figure {
    position: relative;
    z-index: 10000000000;
}

.header figure img:hover {
    cursor: pointer;
}

.header .dark_light_img {
    max-width: 1.5rem;
    cursor: pointer;
    rotate: -20deg;
    animation: dark_img 1s linear infinite alternate-reverse;
}

.header .light_img {
    transform: scale(1.7);
    animation: light_img 4s linear infinite;
}

@keyframes dark_img {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 30deg;
    }
}

@keyframes light_img {
    0% {
        transform: rotate(0deg) scale(1.5);
    }

    100% {
        transform: rotate(360deg) scale(1.5);
    }
}

/* hero section  */

.header {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    background-color: var(--section-bg-clr);
}

.header>figure {
    width: 2.5rem;
}

.header>figure>img {
    max-width: 100%;
}

.header img {
    max-width: 15%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 15rem;
}

.hero {
    padding: 0 10rem;
    padding-bottom: 10rem;
    position: relative;

}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--section-bg-clr);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom-right-radius: 15rem;
}





.hero_row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}



.hero_col_left {
    display: flex;
    gap: 5rem;
}

.hero_col_left .left_col_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left_col_content h6 {
    font-size: 2rem;
    margin-top: 5rem;
    color: var(--paragrapth-clr);
}

.left_col_content h1 {
    font-size: 6rem;
    color: var(--main-color);
    letter-spacing: .5rem;
}

.left_col_content p {
    font-size: 2rem;
    width: 35rem;
    font-family: var(--parag-font);
    color: var(--paragrapth-clr);
}

.scroll_btn {
    padding: .4rem 1rem;
    background-color: var(--main-color);
    color: var(--white-clr);
    font-size: 1.6rem;
    letter-spacing: 1px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-family: var(--heading-font) !important;
    outline: none;
    border: none;
    width: 17rem;
}

.scroll_btn a {
    color: var(--white-clr);
}

.scroll_btn img {
    width: 3rem;
}

.hero_col_left .social_media {
    width: 2.5rem;
    margin-top: 4rem;
}

.social_media img {
    max-width: 80%;
    margin-top: 1rem;
}

.hero_col_left h6 {
    font: 1rem;
}


/* hero right collumn */


.hero_col_right figure {
    background-color: var(--main-color);
    border-radius: 50%;
    margin-top: 5rem;
    overflow: hidden;
    width: 70%;
}


/* about section */


.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    padding: 0 2rem;
}

.about figure {
    width: 25rem;
    margin-top: 7rem;
}

.about figure img {
    max-width: 100%;
}

.about>p {
    text-align: center;
    width: 60%;
    font-size: 2rem;
    margin-top: 10rem;
    color: var(--paragrapth-clr);
}

.bio_container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15rem;
    gap: 18rem;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bio h1 {
    text-align: center;
    font-weight: 700;
}

.bio p {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    color: var(--paragrapth-clr);
}

.cv_btn {
    background-color: var(--main-color);
    padding: .7rem 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12rem;
    border-radius: .3rem;
}

.cv_btn h3 {
    color: var(--white-clr);
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.cv_btn img {
    max-width: 15%;
}




/* Skill Section */


.skills_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}


.skills_container h1 {
    text-align: center;
    font-family: var(--heading-font);
}


.skill_content {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 10rem;
}

.skills {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 50rem;
}

.percent {
    text-align: end;
    font-size: 1.6rem;
    font-family: var(--heading-font);
    color: var(--paragrapth-clr);
}

.skill {
    font-size: 1.6rem;
    font-family: var(--heading-font);
    color: var(--paragrapth-clr);
}

.progress {
    grid-row: 2/3;
    grid-column: 1/-1;
    height: .8rem;
    margin-top: 1rem;
    border-radius: 1rem;
    position: relative;
    background-color: rgb(196, 196, 196);
}

.html>.progress_2 {
    background-color: var(--main-color);
    width: 90%;
}

.css>.progress_2 {
    background-color: var(--main-color);
    width: 85%;
}

.JS>.progress_2 {
    background-color: var(--main-color);
    width: 65%;
}

.React>.progress_2 {
    background-color: var(--main-color);
    width: 85%;
}

.Node>.progress_2 {
    background-color: var(--main-color);
    width: 60%;
}

.Bootstrap>.progress_2 {
    background-color: var(--main-color);
    width: 88%;
}

.Material_ui>.progress_2 {
    background-color: var(--main-color);
    width: 85%;
}

.React_Redux>.progress_2 {
    background-color: var(--main-color);
    width: 90%;
}



/* services section */


.service_container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 22rem;
}

.service_row {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5rem 10rem;
}

.service_container h1 {
    text-align: center;
}

.service_card {
    width: 19rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.4rem gray;
    border-radius: .4rem;
    padding: 1.5rem;
    height: 26rem;
    transition: all .5s;
    background-color: var(--section-bg-clr);

}

.service_card:hover {
    box-shadow: 0 0 1rem rgb(95, 95, 95);
}

.service_card img {
    max-width: 40%;

}

.card_content {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.card_content h2 {
    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-family: var(--heading-font);
    color: var(--main-color);
}

.skill_div {
    display: flex;
    align-items: center;
}

.skill_div span {
    width: 1rem;
    height: 1rem;
    background-color: var(--green-clr);
    border-radius: 50%;
    margin-right: .6rem;
}

.skill_div p {
    letter-spacing: 1px;
    color: var(--paragrapth-clr);

}


#backend_card {
    margin-bottom: 10rem;
}



/*===================== portfolio section================== */


.portfolio_container {
    margin-top: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 8rem 10rem;
    height: 60rem;
}

.portfolio_container::before {
    content: '';
    position: absolute;
    background-color: var(--section-bg-clr);
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

}


.portfolio_container>h1 {
    text-align: center;
    margin-bottom: 7rem;

}

.portfolio_parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.portfolio_parent>img {
    max-width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.portfolio_row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.portfolio_left_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.portfolio_left_col h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--paragrapth-clr);

}

.portfolio_left_col p {
    width: 60%;
}


.stars_div {
    display: flex;
    gap: .5rem;
}

.stars_div>img {
    max-width: 1.5rem;
    max-height: 1.5rem;
}


.portfolio_right_col {
    display: flex;
    justify-content: flex-end;
}



.portfolio_right_col img {
    max-width: 40rem;
    border: 1rem solid rgb(6, 133, 184);
    /* object-fit: contain; */
    height: 25rem;
}

.portfolio_left_img {
    rotate: 180deg;
}

.portfolio_left_col p {
    color: var(--paragrapth-clr);
    letter-spacing: 1px;
    font-size: 1.8rem;
    width: 80%;

}

.slide_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    gap: .5rem;
}

.slide_container .slide {
    width: 1rem;
    height: 1rem;
    background-color: var(--slide-clr);
    border-radius: 50%;
}


.slide_container .active {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #6f42c1;
}


#nextButton,
#prevButtton {
    user-select: none;
}



/* scroll to top button */


#scroll_top_button {
    position: fixed;
    z-index: 100000000000000000;
    background-color: var(--main-color);
    width: 5rem;
    height: 5rem;

    bottom: 3rem;
    right: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    cursor: pointer;
    transition: all .6s;

    opacity: 0;
    visibility: hidden;
}

#scroll_top_button.show {
    opacity: 1;
    visibility: visible;

    transition: all .6s;
}



#scroll_top_button>img {
    width: 4rem;
    user-select: none;
}

/* ========================= contact me =============================== */


.contact_container {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 0 10rem;
}

#contact_row {
    display: flex;
    justify-content: space-around;
}

#contact_row figure {
    width: 50%;
    min-width: 40rem;
    display: flex;
    justify-content: center;
}

#contact_row figure img {
    max-width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    width: 45%;
}

.form input,
.form textarea {

    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: var(--section-bg-clr);
    font-family: var(--parag-font);
    letter-spacing: 1px;
    font-size: 1.6rem;
    border-radius: .2rem;
}

.form textarea {
    height: 15rem;
    resize: none;
}


.contact_container .form .message_btn {
    outline: none;
    border: none;
    padding: .5rem 2rem;
    text-align: center;
    background-color: var(--main-color);
    font-family: var(--parag-font);
    font-size: 2rem;
    color: var(--white-clr);
    letter-spacing: 2px;
    border-radius: .2rem;
}


/* =========================== footer section ========================= */




.footer_container {
    margin-top: 15rem;
    padding: 5rem 10rem;
    position: relative;
}

.footer_container::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--section-bg-clr);
    left: 0;
    top: 0;
    z-index: -1;
}

.footer_row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}


.footer_left_col {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_left_col p {
    width: 35rem;
    color: var(--paragrapth-clr);
    letter-spacing: 1px;
}

.footer_right_col {
    grid-column: 2/3;
    grid-row: 1/2;
}

.footer_social_media {
    margin-top: 3rem;
}

.footer_social_media>img {
    max-width: 2rem;
    margin-right: 1rem;
}



.footer_right_col h1 {
    text-align: center;
}

.footer_right_col ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.footer_right_col ul a {
    font-size: 1.6rem;
    font-family: var(--heading-font);
    color: var(--paragrapth-clr);
}



/* ============================================== */
/* ============ Media Query Section ============= */
/* ============================================== */


@media (min-width:1300px) {
    .hero_col_right figure {
        max-width: 50%;
    }
}

.hero_col_right figure img {
    max-width: 100%;
}




@media (max-width:950px) {

    .navbar {
        margin-right: 8rem;
    }

    .hero {
        padding: 0 5rem;
        padding-bottom: 10rem;
    }

    .header {
        padding: 0 5rem;
    }

    .hero_col_left h1 {
        font-size: 4rem;
    }

}






@media (max-width:768px) {

    .header {
        height: 7rem;
        position: fixed;
        background-color: var(--section-bg-clr);
        z-index: 3000000;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        /* flex-direction: row-reverse; */
    }


    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(167, 141, 216, 0.5);
        backdrop-filter: blur(5rem);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: .7rem;
        transition: all .7s;
        /* transform: translateX(100%); */
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;
        margin-right: 0;
    }

    .active {
        /* transform: translateX(0); */
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

    }

    #logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 15rem;
        /* height: 10rem; */
    }

    .navbar .navbar_list {
        flex-direction: column;
        gap: 3rem;
    }

    .navbar .navbar_list .navbar_link a {
        color: white;
    }


    .header figure {
        width: 2.5rem;
        height: 2.5rem;
        display: inline;
    }

    .header .dark_light_img {
        position: absolute;
    }


    .hero_row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        margin-top: 0;
    }

    .left_col_content h1 {
        font-size: 4rem;
        letter-spacing: 0;
    }

    .left_col_content p {
        font-size: 2rem;
    }

    .social_media {
        position: absolute;
        top: 20rem;
        left: 8rem;
    }

    .social_media img {
        max-width: 70%;
    }

    .scroll_btn {
        font-size: 1.4rem;
        width: 16rem;
        padding: .4rem .6rem;
        justify-content: center;
    }


    .hero_col_left {
        justify-content: center;
        width: 100%;
    }

    .hero_col_right figure {
        width: 50%;
    }

    .hero_col_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }




    /* about part */

    .hero {
        margin-top: 7rem !important;
    }

    .about>p {
        width: 90%;
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    .bio_container {
        grid-template-columns: 1fr;
        gap: 8rem
    }


    /* skills part */


    .skills {
        width: 40rem;
    }


    /* services part */

    .service_row {
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 5rem;
    }

    .service_card {
        width: 17rem;
        height: 22rem;
        background-color: var(--section-bg-clr);
    }

    #backend_card {
        margin-bottom: 0;
    }


    /* portfolio part */



    .portfolio_container {
        margin-top: 20rem;
        position: relative;
        height: auto;
        padding: 7rem 0;
    }

    .portfolio_container::before {
        height: 100%;
        left: -10%;
        width: 110vw;
    }

    .portfolio_parent {
        justify-content: space-evenly;
    }

    .portfolio_parent>img {
        max-width: 2rem;
        height: 2rem;
    }

    .portfolio_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9rem;
    }

    .portfolio_left_col {
        align-items: center;
    }

    .portfolio_left_col p {
        text-align: center;
    }

    .portfolio_right_col img {
        margin: 0 auto;
        width: 70%;
    }

    .slide_container .slide {
        width: 0.8rem;
        height: 0.9rem;
    }

    /* contact section */


    .footer_container {
        height: auto;
    }


    #contact_row {
        width: 100%;
    }

    .footer_container::before {
        left: -10%;
        width: 110vw;
    }

    .footer_row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
    }

    #contact_row figure {
        display: none;
        width: 100%;
    }

    .footer_left_col {
        align-items: center;
    }

    .footer_left_col p {
        text-align: center;
    }


    .footer_social_media {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .form {
        width: 80%;
    }

}


/*================================
======media for mobile ===========
==================================*/


@media (max-width:600px) {

    .container .hero {
        height: 100rem;
    }

    .hero::before {
        border-radius: 0;
    }

    .hero_row {
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
        height: auto;
    }

    .hero_col_right {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

    }

    .hero_col_right figure {
        width: 60%;
    }

    .hero_col_left {
        justify-content: space-around;
        text-align: center;
    }

    .social_media {
        position: absolute;
        top: 5rem;
        left: 3rem;
    }

    .scroll_btn {
        align-self: center;
    }

    .hero_row .hero_col_left {
        padding: 0 4rem;
    }

    .hero_col_left h1 {
        font-size: 1.8rem;
    }

    .hero_col_left .left_col_content p {
        font-size: 1.6rem;
        width: auto;

    }


    /* about section */


    .bio_container {
        grid-template-columns: 1fr;
        gap: 4rem
    }


    /* skills section */


    .skill_content {
        gap: 2rem;
        width: 70%;
    }

    .skills {
        width: 100%;
    }

    .progress {
        height: .5rem;
        border-radius: .6rem;
    }


    /* services section */


    .service_row {
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 5rem;
    }

    .service_card {
        width: 18rem;
        height: 26rem;
    }

    #backend_card {
        margin-bottom: 0;
    }


    /* portfolio section */

    .portfolio_container {
        margin-top: 20rem;
        position: relative;
        height: auto;
        padding: 7rem 0;
    }

    .portfolio_container::before {
        height: 100%;
        left: -10%;
        width: 110vw;
    }


    .portfolio_parent {
        justify-content: space-evenly;
    }

    .portfolio_parent>img {
        max-width: 2rem;
        height: 2rem;
    }

    .portfolio_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9rem;
    }

    .portfolio_left_col {
        align-items: center;
    }

    .portfolio_left_col p {
        text-align: center;
        font-size: 1.2rem;
    }

    .portfolio_right_col img {
        margin: 0 auto;
    }

    .slide_container .slide {
        width: 0.8rem;
        height: 0.9rem;
    }


    /* contact me section */

    #contact_row figure {
        display: none;
    }


    .contact_container {
        margin-top: 15rem;
        padding: 0;
    }

    #contact_row {
        width: 100%;
    }

    .form {
        width: 80%;
    }


    /* footer section */

    .footer_container {
        height: auto;
    }

    .footer_container::before {
        left: 0;
        width: 110vw;
    }

    .footer_row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
    }

    .footer_left_col {
        align-items: center;
    }

    .footer_left_col p {
        text-align: center;
        width: auto;
    }


    .footer_left_col .footer_social_media {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        width: 12rem;
        height: 3rem;
    }
}





/* ============== at media 500 ===================== */



@media (max-width:500px) {
    #logo {
        transform: scale(1.5);
        left: 40%;
    }
}








/* ============== at media 400 ===================== */


@media (max-width:400px) {
    .container .hero {
        height: 70rem;
    }

    .about {
        margin-top: 20rem;
    }


    .about figure {
        width: 100%;
    }


    .footer_container {
        margin-top: 15rem;
        padding: 5rem 4rem;
        position: relative;
    }

    #logo {
        transform: scale(2.5);
    }
}











/* ============== at media 300 ===================== */


@media (max-width:300px) {
    .left_col_content p {
        width: auto;
    }

    .social_media {
        top: 15rem;
        left: 2rem;
    }

    .social_media img {
        max-width: 1.3rem;
    }

    .footer_social_media {
        align-items: center;
    }
}